body {
    margin: 0;
    padding: 0;
}

.header-container {
    margin: auto;
    display: flex;
    padding: 30px 40px;
}

 .menu-items {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5%;
}

.header-container a {
    text-decoration: none;
    padding: 7px 15px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    color: black;

}

.logo-container {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.body-rectangle {
    background: #090B1D;
    width: 100vw;
    height: 25vh;
}

.content-container {
    max-width: 1100px;
    width: 90%;
    margin: 40px auto;
}

button.accordion-button,
.accordion-flush .accordion-item .accordion-button {
    background: #11b98f;
    height: 70px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;

    &:not(.collapsed) {
        background: #11b98f;
        height: 70px;
        color: #FFFFFF;
    }

    &::after {
        width: 18px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

.accordion-body {
    background: #EAF0F6;
}

.accordion-item:not(:first-of-type) {
    margin-top: 20px !important;
}

.accordion-item {
    background-color: none !important;
    border: none !important;
}

.card {
    border-radius: 20px !important;
}

.baby-product-container {
    margin: 0 40px;
}

.kitchen-product-container {
    margin: 20px 40px;
}

.card-title {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-title {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 10px;
    color: #2E3A5E;
}

hr {
    color: #D8E1EA !important;
    margin-bottom: 40px !important;
}

.card-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #8392A6
}

.domain-container {
    width: 60vw;
    border-radius: 20px;
    border: 1px;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 15px;
}

.form-title {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.keyword-container {
    width: 80%;
    padding: 30px 0px;
}

.keyword-text {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 30px;

}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.btn-caption {
    margin: 15px 20px;
}

.btn {
    width: 170px !important;
    height: 55px !important;
    border-radius: 5px !important;
    border: 1px;
}

.btn-content {
    display: inline-flex;
}

.btn-first {
    background: #11B98F !important;
    color: #FFFFFF !important;
}

.btn-second {
    background: #FFFFFF !important;
    color: #11B98F !important;
    border-color: #11B98F !important;
}

.btn-third {
    background: #FFFFFF !important;
    color: #11B98F !important;
    border-color: #11B98F !important;
    margin-left: 60px;
}

@media (max-width: 480px) {
    .menu-items {
        right: 2%;
    }
    .btn-content {
        display: block;
    }
    .header-container {
        padding: 20px 5px;
    }
}
@media (max-width: 840px) {
    .btn-third {
        margin-left: 0;
    }
}